#root {
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

textarea {
  resize: vertical;
  width: 100%;
  height: fit-content;
  min-height: 200px;
}
.container {
  padding: 20px;
  white-space: pre-wrap;
}
